@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-color: #396430;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-image-wave: image-wave 2s infinite ease-in;

  @keyframes image-wave {
    0% {
      transform: translateY(0);
    }

    20% {
      transform: translateY(-80px);
    }

    40% {
      transform: translateY(0);
    }

    80% {
      transform: translateY(0);
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.StripeElement input {
  border-radius: 1000px;
}